pyyaml==6.0.2
pandas==2.2.3
plotly==6.0.1
itables==2.3.0
oracledb==3.1.0
pyarrow==19.0.1
nbclient==0.10.2
nbformat==5.10.4
db-dtypes==1.4.2
jupyterlab==4.3.6
pandas-gbq==0.28.0
google-cloud-bigquery==3.31.0
google-cloud-secret-manager==2.23.2
google-cloud-bigquery-storage==2.30.0