google-cloud-bigquery==3.29.0
google-cloud-secret-manager==2.23.0
nbclient==0.10.2
nbformat==5.10.4
oracledb==2.5.1
pandas==2.2.3
plotly==5.24.1
pyarrow==19.0.0
pyyaml==6.0.2
jupyterlab==4.3.5
itables==2.2.5